# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
libs
eclipse
*.lnk

**/run/*
!**/run/config/
**/run/config/*
!**/run/config/triumph/
**/run/config/triumph/*
!**/run/config/triumph/script/